@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v22-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v22-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v22-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v22-latin-900.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease;
}

a:hover {
  opacity: 0.5;
}

ul,
li,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

hr {
  width: 100%;
  background-color: gray;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.active--dark {
  color: #fff;
  opacity: 0.7;
}

.active--dark:hover {
  opacity: 0.7;
}

.active {
  color: #0E8784;
  opacity: 0.7;
}

.active {
  opacity: 0.7;
}

.plan-btn {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
  background-color: #0E8784;
  border-radius: 6px;
  padding: 15px 31px;
  border: none;
  display: inline-block;
  transition: all 0.5s ease;
  opacity: 1;
}

.plan-btn:hover {
  background-color: #66D2CF;
  opacity: 1;
}

.plan-btn:active {
  background-color: #E2DEDB;
  opacity: 1;
}

.box1 {
  background: url("./../../images/coffee-bean.svg") no-repeat center, #0E8784;
  background-position: center;
  height: 200px;
  padding: auto;
  margin-right: auto;
  margin-left: auto;
}

.box2 {
  background: url("./../../images/gift.svg") no-repeat center, #0E8784;
  background-position: center;
  height: 200px;
  padding: auto;
  margin-right: auto;
  margin-left: auto;
}

.box3 {
  background: url("./../../images/delivery.svg") no-repeat center, #0E8784;
  background-position: center;
  height: 200px;
  padding: auto;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1276px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.nav__list {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav__list-item {
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  font-family: "Barlow";
  color: #83888F;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.nav__list-item:not(:last-child) {
  margin-right: 33px;
}

.nav__list__item:last-child {
  margin-right: 0;
}

.footer {
  margin-top: 200px;
}

.footer__container {
  background-color: #2C343E;
  padding: 50px 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list__item {
  font-family: 'Barlow';
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  margin-right: 33px;
}

.footer__left__list {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__left__list__item {
  margin-right: 24px;
}

.footer__link {
  transition: all 0.5s ease;
  background-color: inherit;
  color: #fff;
  opacity: 1;
}

.about-hero {
  margin-bottom: 168px;
}

.about-hero__container {
  background: #A2A2A2 url("./../images/about-hero.png") no-repeat;
  padding: 137px 85px;
  background-size: cover;
  border-radius: 10px;
}

.about-hero__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin: 0;
  margin-bottom: 24px;
}

.about-hero__text {
  font-family: 'Barlow';
  line-height: 26px;
  margin: 0;
  color: #FEFCF7;
}

.about-hero__wrapper {
  width: 445px;
}

.choose-us__container--mini {
  max-width: 1150px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.choose-us__container {
  background-color: #2C343E;
  border-radius: 10px;
  font-family: 'Barlow';
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.choose-us__wrapper {
  width: 540px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 32px;
  position: relative;
}

.choose-us__text {
  font-family: 'Barlow';
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  padding-bottom: 317px;
}

.choose-us__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}

.choose-us__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}

.choose-us__box__item {
  width: 350px;
  position: relative;
  top: -231px;
  background-color: #0E8784;
  border-radius: 8px;
  padding: 48px;
}

.choose-us__box__item__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
  margin-top: 0;
  margin-bottom: 24px;
}

.choose-us__box__item__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  margin: 0;
}

.collection__item {
  margin-top: 125px;
  max-width: 256px;
}

.collection__item-heading {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.collection__item-text {
  font-family: "Barlow";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
  margin-bottom: 0;
}

.collection__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("./../images/collection-bg.svg") no-repeat center;
  background-position: 50% 0%;
  margin-bottom: 200px;
}

.commit {
  margin-bottom: 168px;
}

.commit__container {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

.commit__left {
  background: url("./../images/commit-left.png") no-repeat;
  width: 445px;
  height: 520px;
}

.commit__right {
  width: 540px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-flow: column wrap;
}

.commit__right__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin: 0;
  margin-bottom: 32px;
}

.commit__right__text {
  font-family: 'Barlow';
  line-height: 26px;
  font-size: 16px;
  color: rgba(51, 61, 75, 0.8);
  mix-blend-mode: normal;
  margin: 0;
}

.hero__container {
  background: url("./../images/hero-bg.jpg") no-repeat center;
  border-radius: 10px;
  margin-bottom: 120px;
  padding: 117px 85px;
}

.hero__item__content {
  max-width: 500px;
}

.hero__heading {
  width: 493px;
  margin-bottom: 32px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin-top: 0;
}

.hero__text {
  color: rgba(254, 252, 247, 0.8);
  max-width: 400px;
  font-family: "Barlow";
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 65px;
}

.how__span {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}

.how__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 160px;
}

.how__container {
  width: 1085px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
}

.how__list {
  display: flex;
  justify-content: left;
  max-width: 1045px;
  padding: 0;
  margin: 0;
}

.how__list__item {
  display: inline-block;
  vertical-align: top;
  padding-right: 94px;
  width: 285px;
  padding-top: 48px;
  border-top: 2px solid #FDD6BA;
  margin-bottom: 64px;
}

.how__list__item:last-child {
  border: none;
  padding-right: 0;
}

.how__list__item::before {
  display: inline-block;
  content: " ";
  border: 2px solid #0E8784;
  border-radius: 50%;
  position: relative;
  width: 31px;
  height: 31px;
  top: -67px;
  vertical-align: top;
  z-index: 1;
  background-color: #f2f2f2;
}

.how__list__item__span {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-bottom: 38px;
}

.how__list__item__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 48px;
  margin-top: 48px;
}

.how__list__item__text {
  font-family: 'Barlow';
  line-height: 26px;
  color: #333D4B;
}

.dark {
  background-color: #2C343E;
}

.how-dark {
  margin-bottom: 160px;
}

.how-dark__span {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  text-align: left;
  display: inline-block;
}

.how-dark__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #FEFCF7;
  margin-bottom: 160px;
}

.how-dark__container {
  width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding: 100px;
  border-radius: 10px;
  background: #2C343E;
  border-radius: 10px;
}

.how-dark__list {
  padding: 0;
  margin: 0;
  border-top: 2px solid #FDD6BA;
}

.how-dark__list__item {
  display: inline-block;
  vertical-align: top;
  width: 285px;
  padding-right: 54px;
  padding-top: 48px;
  margin-bottom: 64px;
  position: relative;
}

.how-dark__list__item:last-child {
  border: none;
  padding-right: 0;
}

.how-dark__list__item::before {
  display: inline-block;
  content: " ";
  border: 2px solid #0E8784;
  border-radius: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
  top: calc(0% - 17px);
  transform: rotate(180deg);
  left: 0;
  vertical-align: top;
  z-index: 1;
}

.how-dark__list__item__span {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-bottom: 38px;
}

.how-dark__list__item__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
  margin-bottom: 48px;
  margin-top: 48px;
}

.how-dark__list__item__text {
  font-family: 'Barlow';
  line-height: 26px;
  color: #FEFCF7;
}

.hq {
  margin-bottom: 168px;
}

.hq__container {
  width: 1045px;
  margin-left: auto;
  margin-right: auto;
}

.hq__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 72px;
}

.hq-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hq-list__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  width: 285px;
}

.hq__list__item__img {
  margin-bottom: 45px;
}

.hq__list__item__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 24px;
}

.hq__inner-list__item {
  font-family: 'Barlow';
  line-height: 26px;
  color: #333D4B;
}

.quality {
  margin-bottom: 168px;
}

.quality .quality__container {
  background-color: #2C343E;
  border-radius: 10px;
  padding: 88px 85px;
  position: relative;
  padding-bottom: 176px;
}

.quality .background--flow {
  width: 445px;
  height: 474px;
  background: url("./images/quality-bg.png") no-repeat;
  position: absolute;
  top: -88px;
  right: 85px;
}

.quality .quality__wrapper {
  width: 540px;
}

.quality .quality__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.quality .quality__text {
  font-family: 'Barlow';
  line-height: 26px;
  color: rgba(254, 252, 247, 0.8);
}

.subscribe-hero {
  margin-bottom: 168px;
}

.subscribe-hero__container {
  background: #A2A2A2 url("./../images/subscribe-bg.png") no-repeat;
  padding: 137px 85px;
  background-size: cover;
  border-radius: 10px;
}

.subscribe-hero__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin: 0;
  margin-bottom: 24px;
}

.subscribe-hero__text {
  font-family: 'Barlow';
  line-height: 26px;
  margin: 0;
  color: #FEFCF7;
}

.subscribe-hero__wrapper {
  width: 445px;
}

.form__container {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.form__left__heading {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}

.form__left__list__item {
  display: flex;
  opacity: 0.5;
  transition: all 0.5s ease;
  padding: 10px 0;
}

.form__left__list {
  max-width: 255px;
  display: flex;
  flex-direction: column;
}

.form__link {
  display: none;
  position: fixed;
}

.form__link:checked + .form__left__list__item {
  opacity: 1;
}

.form__left__text {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-right: 28px;
  color: #83888F;
}

.form__inner {
  display: none;
}

.form__right {
  padding: 30px;
  padding-top: 0;
}

.form__right__input {
  display: none;
}

.form__right_img {
  width: 40px;
  height: 40px;
  background: url("./../../images/down.svg") no-repeat center;
}

.form__right__wrapper {
  width: 730px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
}

.form__right__input:checked + .form__right__wrapper span {
  background: url("./../../images/up.svg") no-repeat center;
}

.form__right__input:checked .form__inner {
  display: block;
}

.form__right__input:checked ~ .form__inner {
  display: block;
}

.form__checkbox {
  display: none;
}

.form__checkbox:hover + div {
  background-color: #FDD6BA;
}

.form__checkbox:checked + div {
  background-color: #0E8784;
}

.form__checkbox:active + div {
  background-color: #FDD6BA;
}

.form__checkbox-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
}

.form__checkbox__text {
  font-family: 'Barlow';
  line-height: 26px;
  color: #333D4B;
}

.form__checkbox__heading {
  font-family: 'Fraunces';
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}

.form__checkbox__wrapper {
  padding: 32px 28px;
  border: 1px solid transparent;
  background-color: #F4F1EB;
  border-radius: 8px;
  max-width: 228px;
  height: 250px;
}

.summary {
  background-color: #2C343E;
  padding: 27px 64px;
  margin-bottom: 40px;
}

.summary__wrapper {
  width: 600px;
}

.summary__heading {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  mix-blend-mode: normal;
  margin-bottom: 8px;
}

.summary__text {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}

.subscribe-btn {
  margin-left: 522px;
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .about-hero__container {
    background: #A2A2A2 url("./../images/about-hero@2x.png") no-repeat;
    background-size: cover;
  }
  .hero__container {
    background: #A2A2A2 url("./../images/hero-bg@2x.jpg") no-repeat;
    background-size: cover;
  }
  .subscribe-hero__container {
    background: #A2A2A2 url("./../images/subscribe-bg@2x.png") no-repeat;
    background-size: cover;
  }
  .commit__left {
    background: url("./../images/commit-left@2x.png") no-repeat;
  }
}

@media only screen and (max-width: 1200px) {
  .choose-us__list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .choose-us__box__item {
    width: 573px;
    max-height: 180px;
    position: relative;
    top: -131px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .choose-us__text {
    padding-bottom: 120px;
  }
  .choose-us__box__item__text {
    font-size: 15px;
    line-height: 25px;
    text-align: left;
  }
  .choose-us__box__item__heading {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
  }
  .choose-us__box__wrapper {
    max-width: 344px;
    width: 100%;
    text-align: left;
  }
  .box {
    width: 92px !important;
    height: 92px;
    margin: 0;
  }
}

@media only screen and (max-width: 1100px) {
  .collection__list {
    flex-flow: column nowrap;
    background-size: contain;
  }
  .collection__item {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 583px;
    text-align: left;
  }
  .collection__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    text-align: left;
    max-width: 282px;
  }
  .collection__item-heading {
    text-align: left;
    margin-bottom: 24px;
  }
  .collection__item-text {
    text-align: left;
  }
  .footer__container {
    flex-direction: column;
    height: 270px;
    justify-content: space-between;
  }
  .footer-nav-list {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 900px) {
  .how_container {
    width: 100vw;
  }
  .how__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    margin: 0;
  }
  .how__list__item {
    padding-right: 10px;
    border-top: none;
    max-width: 222px;
    padding: 0;
    text-align: center;
  }
  .how__list__item__heading {
    font-size: 28px;
    line-height: 32px;
  }
  .how__list__item::before {
    display: none;
  }
  .wrap {
    display: flex;
    justify-content: center;
    width: 90vw;
  }
  .plan-btn {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .hero__heading {
    font-size: 48px;
    line-height: 48px;
    max-width: 329px;
  }
  .hero__text {
    font-size: 15px;
    line-height: 25px;
    width: 370px;
  }
  .nav {
    display: none;
  }
  .nav-burger {
    display: inline-block;
    padding: 5px;
  }
  .footer__container {
    flex-direction: column;
    height: 346px;
    max-height: 375px;
    align-items: center;
    justify-content: space-between;
  }
  .footer-nav-list {
    display: flex;
    height: 93px;
    max-height: 130px;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .footer-nav-item {
    margin: 0 !important;
  }
  .how__list {
    flex-direction: column;
  }
  .how__list-item {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .choose-us__wrapper {
    max-width: 100%;
    padding: 30px 20px;
    height: 900px;
  }
  .choose-us__container--mini {
    max-width: 1150px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .choose-us__text {
    padding: 0;
  }
  .choose-us__heading {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  .choose-us__list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .choose-us__box__item {
    max-height: 382px;
    height: 100%;
    width: 279px;
    top: -620px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .choose-us__box__wrapper {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .nav {
    display: block;
  }
  .nav-burger {
    display: none;
    position: absolute;
    padding: 0;
  }
}
/*# sourceMappingURL=main.css.map */