*,
*::before,
*::after,
    {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.5s ease;
}

a:hover {
    opacity: 0.5;
}

ul,
li,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

hr { 
    width: 100%;  
    background-color: gray;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.active--dark {
    color: #fff;
    opacity: 0.7;
}

.active--dark:hover {
    opacity: 0.7;
}

.active {
    color: #0E8784;
    opacity: 0.7;
}

.active {
    opacity: 0.7;
}

.plan-btn {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;
    background-color: #0E8784;
    border-radius: 6px;
    padding: 15px 31px;
    border: none;
    display: inline-block;
    transition: all 0.5s ease;
    opacity: 1;
}

.plan-btn:hover {
    background-color: #66D2CF;
    opacity: 1;
}

.plan-btn:active {
    background-color: #E2DEDB;
    opacity: 1;
}



.box1 {
    background: url("./../../images/coffee-bean.svg") no-repeat center, #0E8784;
    background-position: center;
    height: 200px;
    padding: auto;
    margin-right: auto;
    margin-left: auto;
}

.box2 {
    background: url("./../../images/gift.svg") no-repeat center, #0E8784;
    background-position: center;
    height: 200px;
    padding: auto;
    margin-right: auto;
    margin-left: auto;
}

.box3 {
    background: url("./../../images/delivery.svg") no-repeat center, #0E8784;
    background-position: center;
    height: 200px;
    padding: auto;
    margin-right: auto;
    margin-left: auto;
}