.choose-us {
    &__container--mini {
        max-width: 1150px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 20px;
        padding-left: 20px;
    }

    &__container {
        background-color: #2C343E;
        border-radius: 10px;
        font-family: 'Barlow';
        font-weight: 400;
        line-height: 26px;
        text-align: center;
    }

    &__wrapper {
        width: 540px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 100px;
        padding-bottom: 32px;
        position: relative;
    }

    &__text {
        font-family: 'Barlow';
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        padding-bottom: 317px;
    }

    &__heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;
    }


    &__list {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        flex-shrink: 0;
    }

    &__box__item {
        width: 350px;
        position: relative;
        top: -231px;
        background-color: #0E8784;
        border-radius: 8px;
        padding: 48px;
    }



    &__box__item__heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;
        margin-top: 0;
        margin-bottom: 24px;
    }

    &__box__item__text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        margin: 0;
    }
} 