.collection {

    &__item {
        margin-top: 125px;
        max-width: 256px;

    }

    &__item-heading {
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
    }

    &__item-text {
        font-family: "Barlow";
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333D4B;
        margin-bottom: 0;
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: url("./images/collection-bg.svg") no-repeat center;
        background-position: 50% 0%;
        margin-bottom: 200px;
    }
}