.form {
    &__container {
        max-width: 1110px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
    }

    &__left__heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }

    &__left__list__item {
        display: flex;
        opacity: 0.5;
        transition: all 0.5s ease;
        padding: 10px 0;
    }

    &__left__list {
        max-width: 255px;
        display: flex;
        flex-direction: column;
    }

    &__link {
        display: none;
        position: fixed;
    }


    &__link:checked+&__left__list__item {
        opacity: 1;
    }

    &__left__text {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        margin-right: 28px;
        color: #83888F;
    }

    &__inner {
        display: none;
    }
}

.form__right {



    padding: 30px;
    padding-top: 0;

    &__input {
        display: none;
    }

    &_img {
        width: 40px;
        height: 40px;
        background: url("./../../images/down.svg") no-repeat center;
    }

    &__wrapper {
        width: 730px;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #83888F;
        display: flex;
        justify-content: space-between;
        margin-bottom: 88px;
    }

    &__input:checked+&__wrapper span {
        background: url("./../../images/up.svg") no-repeat center;


    }

    &__input:checked .form__inner {
        display: block;
    }
}


.form__right__input:checked~.form__inner {
    display: block;
}

.form__checkbox {
    display: none;

    &:hover+div {
        background-color: #FDD6BA;
    }

    &:checked+div {
        background-color: #0E8784;
    }

    &:active+div {
        background-color: #FDD6BA;
    }

    &-list {
        display: flex;
        justify-content: space-between;

        margin-bottom: 88px;
    }

    &__text {
        font-family: 'Barlow';
        line-height: 26px;
        color: #333D4B;

    }

    &__heading {
        font-family: 'Fraunces';
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }

    &__wrapper {
        padding: 32px 28px;
        border: 1px solid transparent;
        background-color: #F4F1EB;
        border-radius: 8px;
        max-width: 228px;
        height: 250px;
    }


}

.summary {
    background-color: #2C343E;
    padding: 27px 64px;
    margin-bottom: 40px;
    &__wrapper{
        width: 600px;
    }
    &__heading {
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        mix-blend-mode: normal;
        margin-bottom: 8px;
    }

    &__text {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;
        color: #FFFFFF;
    }
}
.subscribe-btn{
   margin-left: 522px;
}