.how {
    &__span {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;

    }

    &__heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        margin-bottom: 160px;
    }

    &__container {
        width: 1085px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 10px;
    }

    &__list {
        display: inline;
        padding: 0;
        margin: 0;
    }

    &__list__item {
        display: inline-block;
        vertical-align: top;
        padding-right: 94px;
        width: 285px;
        padding-top: 48px;
        border-top: 2px solid #FDD6BA;
        margin-bottom: 64px;
    }

    &__list__item:last-child {
        border: none;
        padding-right: 0;
    }

    &__list__item::before {
        display: inline-block;
        content: " ";
        border: 2px solid #0E8784;
        border-radius: 50%;
        position: relative;
        width: 31px;
        height: 31px;
        top: -67px;
        vertical-align: top;
        z-index: 1;
        background-color: #f2f2f2;
    }

    &__list__item__span {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
        margin-bottom: 38px;
    }

    &__list__item__heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
        margin-bottom: 48px;
        margin-top: 48px;
    }

    &__list__item__text {
        font-family: 'Barlow';
        line-height: 26px;
        color: #333D4B;

    }
}