.subscribe{
    &-hero {
        margin-bottom: 168px;
    }

    &-hero__container {
        background: #A2A2A2 url('./../images/subscribe-bg.png') no-repeat;
        padding: 137px 85px;
        background-size: cover;
        border-radius: 10px;


    }

    &-hero__heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
        margin: 0;
        margin-bottom: 24px;

    }

    &-hero__text {
        font-family: 'Barlow';
        line-height: 26px;
        margin: 0;
        color: #FEFCF7;
    }

    &-hero__wrapper {
        width: 445px;
    }
}